{% extends 'base.html' %}
{% block content %}

<h1 class="btn-outline-info">Posts <i class="fab fa-pied-piper-alt opacity-75"></i></h1>
<article class="media content-section">
    
    <div class="card">
        <h5 class="card-header">{{ post.author.username }}</h5>
        <div class="card-body">
            <h5 class="card-title"><img class="rounded-circle article-image" style="float: left; padding: 25px 25px; width: 125px; height: 125px;" src="{{ url_for('static', filename='images/profile/' + post.author.image_file) }}" alt=""><a href="{{ url_for('post', post_id=post.id) }}" class="article-title">{{ post.title }}</a></h5>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            <br>
            <p class="card-text">{{ post.content }}</p>
            {% if post.author == current_user %}
                <div class="">
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
        </div>
    </div> 
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
              <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}