{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <h5 class="card-header">{{ post.author }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <small class="text-muted">{{ post.date_posted }}</small>
                <br>
                <p class="card-text">{{ post.content }}</p>
                <a href="#" class="btn btn-outline-info">View Post</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
